#stop{
    color: #33FF33;
    font: weight 1200px;
    background-color: blueviolet;
    border-radius: 10px;
    background: #EEEEEE;
    text-shadow:  0 0 3px #33FF33;
    background-image: radial-gradient(circle at center center, rgb(34,34,34),rgb(0,0,0));
}
#min, #sec, #milisec{

        margin:auto;
        box-sizing: border-box;
        border:1px solid black;
        width:152px;
        height: 50px;
        border-radius:5px;
        padding:10px 10px;
        text-align:center;
        font-size: 22pt;
        font-family: 'Iceland', cursive;
        background: #EEEEEE;
        color: #33FF33;
        text-shadow:  0 0 3px #33FF33;
        background-image: radial-gradient(circle at center center, rgb(34,34,34),rgb(0,0,0));
      }

button{
   
        margin:auto;
        box-sizing: border-box;
        border:1px solid black;
        width:120px;
        height: 50px;
        border-radius:5px;
        padding:0px 10px;
        text-align:center;
        font-size: 22pt;
        font-family: 'Iceland', cursive;
        background: #EEEEEE;
        color: #33FF33;
        text-shadow:  0 0 3px #33FF33;
        background-image: radial-gradient(circle at center center, rgb(34,34,34),rgb(0,0,0));
      }

button:hover{
    background-color:fuchsia;
    border: blueviolet;
    color:white;
    margin: 20px;
    padding:0px 10px;
    size: 20px;
    border-radius: 5PX;
    border: black 1px solid;
    cursor: pointer;
}
body{
    background-color: #AAAAAA;
}

